.todo-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:20px;
    row-gap: 20px;
}

.card-title{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-add{
    cursor: pointer;
}

.task-item{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    font-family:Arial, Helvetica, sans-serif;
}

svg.delete-btn:hover{
    cursor: pointer;
    color:red;
}